body {
    margin: 1em auto;
    font-size: 14pt;
    max-width: 600px;
}

p {
    text-indent: 1em;
    text-align: justify;
    clear: both;
}

p img {
    float:right;
    margin: 0em 0em 1em 1em;
    width: 200px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

strong {
    font-size: 1.5em;
}

.intro {
    margin-bottom: 1em;
    font-size: 1.5em;
}

#isometric {
    background: url('images/smokestack-syzygy.jpg');
    border: solid 2px black;
}
