html {
    font-size: 14pt;
}

body {
    text-align: center;
    background: #eee;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

.header {
    margin: 0px;
    padding: 0em 1em 0.5em 1em;
    font-size: 1.5em;
    background: #ddd;
    border-bottom: solid 2px #00f8f8;
}
.header strong {
    font-size: 1.5em;
}

.thing {
    display: inline-block;
    margin: 1em;
    padding: 1em;
    max-width: 300px;
    background: white;
    border: solid 2px #ccc;
}

.thing img {
    float: left;
    max-width: 150px;
    max-height: 150px;
    margin: 0.5em;
}
