body {
    margin: 1em auto 4em auto;
    font-size: 14pt;
    max-width: 600px;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

strong {
    font-size: 1.5em;
}

.header {
    font-size: 1.5em;
}

.artifact {
    clear: both;
}
.artifact img {
    float:right;
    margin: 0em 0em 1em 1em;
    max-width: 200px;
    max-height: 300px;
}

#isometric {
    background: url('images/smokestack-syzygy.jpg');
    border: solid 2px black;
}
